body 
  background: #faa500
  display: block
  flex-flow: column nowrap
  width: 80%
  margin: auto
  padding: 5px
  animation-duration: 0.4s 
  width: auto
  background: white 
  background: rgba(211,211,222,0.1)
  height: 2000px
  header
    height: 100px
    width: 100%
    display: inline-block
    background: orange

.well 
  background: grey !important