doctype html
html(lang='en')
  head 
    title TOCC Christmas Quiz !
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='author', content='g.crisan@tabs-software.co.uk')
    meta(name='description' , content='TOCC Christmas Quiz')
    // build:css assets/bundle.min.css
    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='css/main.css')
    link(rel='stylesheet', href='css/normalize.min.css')
    // endbuild

    
    
    
  body
    header
      h1 Welcome to TOCC Advent Calendar
      section.header-text
        p Every quiz question ...... more text .... more text .... more text .... more text .... more text 
          | .... more text .... more text .... more text .... more text .... more text .... more text .... more text 
    
    main
      section.items-container 
        .item
          a.ylink(href='' class="btn video-btn" data-toggle="modal" data-src="" data-target="#myModal")
            p.item-content
        .item
          a.ylink(href=''  class="btn video-btn" data-toggle="modal" data-src="" data-target="#myModal")
            p.item-content
        .item
          a.ylink(href=''  class="btn video-btn" data-toggle="modal" data-src="" data-target="#myModal")
            p.item-content
        .item
          a.ylink(href=''  class="btn video-btn" data-toggle="modal" data-src="" data-target="#myModal")
            p.item-content
        .item
          a.ylink(href=''  class="btn video-btn" data-toggle="modal" data-src="" data-target="#myModal")
            p.item-content
        .item
          a.ylink(href=''  class="btn video-btn" data-toggle="modal" data-src="" data-target="#myModal") 
            p.item-content
        .item
          a.ylink(href=''  class="btn video-btn" data-toggle="modal" data-src="" data-target="#myModal")
            p.item-content
        .item
          a.ylink(href=''   class="btn video-btn" data-toggle="modal" data-src="" data-target="#myModal")
            p.item-content
        .item
          a.ylink(href=''   class="btn video-btn" data-toggle="modal" data-src="" data-target="#myModal")
            p.item-content
        .item
          a.ylink(href=''  class="btn video-btn" data-toggle="modal" data-src="" data-target="#myModal")
            p.item-content
        .item
          a.ylink(href=''  class="btn video-btn" data-toggle="modal" data-src="" data-target="#myModal")
            p.item-content
        .item
          a.ylink(href=''  class="btn video-btn" data-toggle="modal" data-src="" data-target="#myModal")
            p.item-content
        .item
          a.ylink(href=''  class="btn video-btn" data-toggle="modal" data-src="" data-target="#myModal")
            p.item-content
        .item
          a.ylink(href=''  class="btn video-btn" data-toggle="modal" data-src="" data-target="#myModal")
            p.item-content
        .item
          a.ylink(href=''  class="btn video-btn" data-toggle="modal" data-src="" data-target="#myModal")
            p.item-content
        .item
          a.ylink(href=''  class="btn video-btn" data-toggle="modal" data-src="" data-target="#myModal")
            p.item-content
        .item
          a.ylink(href=''  class="btn video-btn" data-toggle="modal" data-src="" data-target="#myModal")
            p.item-content
        .item
          a.ylink(href=''  class="btn video-btn" data-toggle="modal" data-src="" data-target="#myModal")
            p.item-content
        .item
          a.ylink(href=''  class="btn video-btn" data-toggle="modal" data-src="" data-target="#myModal")
            p.item-content
        .item
          a.ylink(href=''  class="btn video-btn" data-toggle="modal" data-src="" data-target="#myModal")
            p.item-content
        .item
          a.ylink(href=''  class="btn video-btn" data-toggle="modal" data-src="" data-target="#myModal")
            p.item-content
        .item
          a.ylink(href=''  class="btn video-btn" data-toggle="modal" data-src="" data-target="#myModal")
            p.item-content
        .item
          a.ylink(href=''  class="btn video-btn" data-toggle="modal" data-src="" data-target="#myModal")
            p.item-content
        .item
          a.ylink(href=''  class="btn video-btn" data-toggle="modal" data-src="" data-target="#myModal")
            p.item-content

    #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='videomodal', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-body
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
            // 16:9 aspect ratio
            .embed-responsive.embed-responsive-16by9
              iframe#video.embed-responsive-item(src='', allowscriptaccess='always') >

    footer 
    // build:js assets/main.min.js
    script(src='js/jquery.min.js')
    script(src='js/bootstrap.bundle.min.js')
    script(src='js/lodash.min.js')
    script(src='js/main.js')
    // endbuild
    

    